.mariah
  background: url(/images/mariah-mah.webp) right bottom / contain no-repeat transparent
  padding-left: 0
  padding-bottom: 70vw

@media (min-width: 576px)
  .mariah
    padding-bottom: 0
    padding-right: 30%