.nav
  background: var(--adm-color-primary)
  height: 49px
  display: flex
  align-items: stretch

.link
  text-decoration: none

.more
  transform: rotateZ(90deg)

.height
  height: 49px
  min-height: 49px

.tab
  display: flex
  align-items: center
  color: var(--adm-color-light)

.tabItem
  font-weight: bold
  color: inherit

.listLink
  color: var(--adm-color-text)

.active
  font-weight: bold