.container
  display: flex
  position: relative
  justify-content: center
  align-items: center
  gap: 1rem
  > div
    flex: 1 0 auto

.button
  backgroundColor: #0cdcf7
  width: 2.5rem
  height: 2.5rem
  padding: 0
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  position: relative
  z-index: 1
  outline-offset: 2px