@use '@/styles/mixins'

.cardWrapper
  @include mixins.card-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100dvw
  height: 100dvh
  background: rgba(0, 0, 0, .8)
  transition: all .3s ease-in
  display: flex
  align-items: center
  justify-content: center
  z-index: 100
  overflow: hidden

.card
  width: 100% //calc(100% - (var(--gap) * 2))
  max-width: 768px
  height: 100% //calc(100% - (var(--gap) * 2))
  max-height: 768px
  background: #fff
  border-radius: 1rem
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .25)
  transition: all .3s ease-in-out
  z-index: 101
  overflow-x: hidden
  overflow-y: auto
  scrollbar-width: none // Firefox
  -ms-overflow-style: none // Internet Explorer 10+
  &::-webkit-scrollbar
    display: none // Safari and Chrome

.cover
  @include mixins.card-cover
  margin-top: -2rem

.body
  padding: 1rem