:root:root
  --adm-color-primary: #2A6425
  --adm-button-border-radius: 0
  --adm-gap: 1rem
  --adm-gap-sm: .5rem
  --adm-font-family: 'Montserrat', 'Helvetica Neue', helvetica, roboto, arial, sans-serif
  --adm-font-size-main: 1rem

html
  font-size: 100%

body
  margin: 0
  font-size: 1rem

main
  min-height: calc(100vh - 98px)
  box-sizing: border-box

a
  text-decoration: none

sup, sub
  line-height: 1

p, .p
  font-size: 1rem
  line-height: 1.5
  margin-block: var(--adm-gap)

h1, h2, h3, h4
  line-height: 1
  font-weight: normal
h1
  font-size: 2.5rem
h2
  font-size: 2rem
h3
  font-size: 1.6rem
h4
  font-size: 1.2rem

.adm-tabs-header
  border-bottom: 0

.adm-button
  line-height: 1
  font-family: var(--adm-font-family)
  padding: var(--adm-gap-sm) var(--adm-gap)

.adm-space-block,
.w-100
  width: 100%

.pad, .pad-y, .pad-t
  padding-top: var(--adm-gap)
.pad, .pad-y, .pad-b
  padding-bottom: var(--adm-gap)
.pad, .pad-x, .pad-l
  padding-left: var(--adm-gap)
.pad, .pad-x, .pad-r
  padding-right: var(--adm-gap)

.margin-0
  margin: 0

.text-center
  text-align: center
.text-right
  text-align: right
.text-justify
  text-align: justify
.underline
  text-decoration: none
.uppercase
  text-decoration: uppercase

.font-color-primary
  color: var(--adm-color-primary)
.font-color-secondary
  color: var(--adm-color-text-secondary)
.font-color-weak
  color: var(--adm-color-weak)

.align-stretch
  align-items: stretch

.tabs-borderless
  .adm-tabs-header
    border-bottom: 0

.show-on-lg
  display: none

@media (min-width: 992px)
  :root
    .hide-on-lg
      display: none
    .show-on-lg
      display: block
  .container
    display: block
    width: 768px
    margin: auto
  .heading
    max-width: 537px