@use '@/styles/mixins'

.cardWrapper
  @include mixins.card-wrapper

.card
  @include mixins.card
  width: 100%
  aspect-ratio: 5 / 4
  h3
    position: absolute
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    color: #fff
    line-height: 1.15
    margin: 0
    padding: var(--gap)

.cover
  @include mixins.card-cover
  &::before
    content: ''
    display: block
    z-index: 1
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: linear-gradient(195deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .75))