@mixin card-wrapper
  display: block

@mixin card
  border-radius: 1rem
  overflow: hidden
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .25)
  display: block
  position: relative

@mixin card-cover
  width: 100%
  aspect-ratio: 5 / 4
  position: relative
  img
    object-fit: cover
    width: 100%
    height: 100%