.pad, .padY, .padTop
  padding-top: var(--gap)
.pad, .padY, .padBottom
  padding-bottom: var(--gap)
.pad, .padX, .padLeft
  padding-left: var(--gap)
.pad, .padX, .padRight
  padding-right: var(--gap)

.textCenter
  text-align: center
.textLeft
  text-align: left
.textRight
  text-align: right
.textJustify
  text-align: justify
.underline
  text-decoration: underline
.uppercase
  text-decoration: uppercase

.textWeak
  color: var(--weak-color)

.fullWidth
  width: 100%
.fullHeight
  height: 100%

.contain
  object-fit: contain
.cover
  object-fit: cover

.relative
  position: relative

.whiteButton
  border: 1px solid #fff
  color: #fff

.selectWrapper
  position: relative
  &::after
    content: ''
    position: absolute
    right: var(--gap)
    top: 50%
    transform: translateY(-75%) rotateZ(45deg)
    width: .73rem
    height: .73rem
    pointer-events: none
    border-right: 1px solid var(--weak-color)
    border-bottom: 1px solid var(--weak-color)

.autoAlign
  text-align: center

.smallGap
  gap: calc(var(--gap) / 2)

.grid
  display: flex
  flex-wrap: wrap
  gap: 1rem

.grid > *
  display: grid
  flex: 1 1 100%

@media (min-width: 768px)
  .grid > *
    flex: 1 1 calc(33.333% - 1rem)

@media (min-width: 992px)
  .autoAlign
    text-align: inherit

@media (min-width: 1200px)
  .container
    max-width: 1200px
    margin: auto