.pad, .padY, .padTop
  padding-top: var(--gap)
.pad, .padY, .padBottom
  padding-bottom: var(--gap)
.pad, .padX, .padLeft
  padding-left: var(--gap)
.pad, .padX, .padRight
  padding-right: var(--gap)

.textCenter
  text-align: center
.textLeft
  text-align: left
.textRight
  text-align: right
.textJustify
  text-align: justify
.underline
  text-decoration: underline
.uppercase
  text-decoration: uppercase

.fullWidth
  width: 100%
.fullHeight
  height: 100%

.contain
  object-fit: contain
.cover
  object-fit: cover

.whiteButton
  border: 1px solid #fff
  color: #fff

.autoAlign
  text-align: center

@media (min-width: 992px)
  .autoAlign
    text-align: inherit

@media (min-width: 1200px)
  .container
    max-width: 1200px
    margin: auto