:root
  --gap: 1rem
  --font-size: 1rem
  --font-small: .8rem
  --font-large: 2rem
  --line-height: 1.5
  --primary-color: #008037
  --text-color: #0f1115
  --background-color: #f3f3f3
  --box-color: #c4c4c4
  --weak-color: #9a9a9a
  --border-radius: 1rem
  --text-shadow: 0 0 2rem rgba(0, 0, 0, .65)
  --nav-height: 100px
  --mobile-nav-height: 62px
  --button-height: 50px